<div *ngIf="room" class="flex flex-col gap-8 items-center w-full">
    <div class="flex flex-col gap-8 items-center w-full">
        <img src="assets/images/logo.svg" alt="Logo Whoz"
            class="w-44 my-4">
        <div class="flex justify-between items-center w-full">
            <div class="flex flex-col gap-1">
                <div class="flex gap-2 items-center">
                    <h1 class="text-2xl font-semibold">Code : {{ roomCode
                        }}</h1>
                    <div class="p-2 bg-dark rounded-lg cursor-pointer">
                        <fa-icon [icon]="copied ? iconCheck : iconCopy"
                            class="fa-lg text-white"
                            (click)="copyToClipboard()"></fa-icon>
                    </div>
                </div>
                <span class="font-light text-base">Mode : {{ room.gamemode.title
                    }}</span>
            </div>
            <div class="flex gap-4">
                <div class="flex gap-2 items-center">
                    <fa-icon [icon]="iconTime" class="fa-2x"></fa-icon>
                    <p class="text-lg font-semibold">{{ room.time }}s</p>
                </div>
                <div class="flex gap-2 items-center">
                    <fa-icon [icon]="iconQuestion" class="fa-2x"></fa-icon>
                    <p class="text-lg font-semibold">{{ room.questions.length
                        }}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!!players"
        class="relative w-full flex flex-col items-start gap-4">
        <h1 class="text-lg font-light">Participants : {{ players.length }}</h1>
        <div class="w-full h-[55dvh] overflow-y-auto flex flex-col gap-4">
            <app-player-tile *ngFor="let player of players" [name]="player"
                [currentPlayer]="name"
                class="w-full"></app-player-tile>
        </div>
    </div>
    <div class="flex flex-col gap-4 w-full">
        <button *ngIf="isRoomOwner"
            [class.disabled]="!canStart"
            class="btn btn-primary w-full text-base"
            (click)="startGame()">Lancer la
            partie</button>
        <button *ngIf="!isRoomOwner"
            class="btn btn-primary w-full text-base disabled"
            (click)="startGame()">En attente</button>
        <button
            class="btn bg-transparent text-primary w-full border-none text-base"
            (click)="openModal()">Quitter</button>
    </div>
</div>

<app-modal *ngIf="showModal"
    [title]="'Quitter la salle'"
    [message]="'Êtes-vous sûr de vouloir quitter la salle ?'"
    (confirmEmitter)="leaveRoom()"
    (closeModalEmitter)="closeModal()"></app-modal>